/*CSS reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}

/*4*/

body {

	font-family: 'open+sans',sans-serif;
}
/*nav bar*/
nav {
	padding: 10px;
	position: sticky;
	top: 0;	
  	width: 100%;
  	background-color: white;
}

.right-nav {
	float: right;
	margin-right: 8rem;


}


.nav {
	list-style-type: none;
	padding:  0.8rem;
	margin-bottom: 2rem;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline-block;
	margin-left: 2.5rem;
}



/*button*/
#bg-image button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	border-color: none;


}


.right-nav button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	border-color: none;


}
.container button {
	
	float: right;
	margin-right: 6rem;
	margin-bottom: 2rem;
	margin-top: 1rem;

}


/*image*/
#bg-image {
	background-image:  url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg) ;
	min-height: 30vh;
	margin: 30px 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 35vh;
}
.front-bg {
	background-color: none;
	opacity: none;
	min-height: 35vh;
	text-align: right;

 }


.title {
	float: right;
	color: white;
	padding-right: 6rem;
	display: inline-block;
	padding-left: 50rem;
	margin-bottom: 1rem;
}

.subtitle {
	text-align: right;
	color: white;
	display: inline-block;
	margin-right: 6rem;
	font-size: 1rem;
	padding-left: 50rem;

}



#bg-image .title {
	font-family: 'Zilla Slab';
}

section .title-2 {
	font-family: 'Zilla Slab';
	text-align: center;
	margin-top: 4rem;
	padding-top: 4rem;
}

section .intro-description {
	text-align: center;
	padding-left: 15rem;
	padding-right: 15rem;
	margin-top: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;
	display: inline-block;
}

.pre-footer {
background-color:  #f7fbfb;	
text-align: center;
min-height: 40vh;
margin-right: 8rem;
margin-left: 8rem;
}

section .prefooter-description {
	text-align: center;
	margin-top: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;

}


section .book-button {
	color: white;
	font-weight: bold;
	background-color: #002540;
	border-radius: 25px;
	font-size: 0.7rem;
	padding: 0.5rem;
	margin-top: 4rem;
	margin-bottom: 4rem;

}

footer {
	text-align: center;
	padding-left: 2rem;
	color: blue;
	font-family: 'Zilla Slab';
}
footer span {
	margin-right: 1rem;
	margin-left: 1rem;